/* -----Universal Elements----- */

* {
  font-family: 'roboto', sans-serif;
}

/* -----TOP SECTION STYLES----- */
.top-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #252525;
}

.top-links-option, li {
  float: left;
  border-right:1px
}

.top-links-option, li a {
  display: block;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 25px 20px;
  padding-right: 25px;
  text-decoration: none;
}

.top-links-option, li a:hover {
  background-color: #111;
}

.the-eternals-container {
  background-color: #1F2937;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
}

.left-website-about{
  width: 400px;
  height: 300px;
  padding: 15px;
  margin-left: 200px;
}

.main-header {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin-top: 20px;
}

.about-text {
  font-size: 18px;
  margin-top: -20px;
  color: white;
}

.top-button {
  background-color: #CD7F32;
  color: #F9FAF8;
  font-size: 15px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-top: 5px;
}

.top-button:hover {
  background-color: #252525;
}

.right-placeholder-image {
  padding: 20px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 5px;
  border-radius: 10px;
  border-color: #CD7F32;
  border-style: solid;
}

.top-image {
  width: 400px;
  height: auto;
}

/* -----MEET THE CHARACTERS SECTION STYLES----- */
.meet-the-characters-container {
  background-color: #E5E7EB;
  padding: 50px 0 40px 0;
  height: 450px
}

.meet-the-characters-header {
  font-size: 36px;
  color: #1F2937;
  text-align: center;
}

.information-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.information {
  width: 200px;
  height: 200px;
  padding: 50px;
}

.info-image {
  border-width: 5px;
  border-radius: 20px;
  border-color: #CD7F32;
  border-style: solid;
}

.info-image:hover {
  border-color: #1F2937;
}

.subtext {
  font-size: 25px;
  text-align: center;
  color: #1F2937;
}


/* -----QUOTE SECTION STYLES----- */
.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px 0 70px;
  height: 300px;
  background-color: #1F2937;
}

.quote-text {
  padding: 20px 250px 20px 250px;
  margin: 20px 0 20px 0;
  font-size: 36px;
  font-weight: 100;
  color: white;
}

.quote-author {
  padding: 0px 250px 20px 250px;
  margin: 0px 0 20px 0;
  font-size: 36px;
  text-align: end;
  color: white;
}


/* -----CALL TO ACTION SECTION STYLES----- */
.find-out-more-container {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.find-out-more-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background-color: #1F2937;
  width: 1200px;
  height: 200px;
  border-width: 5px;
  border-radius: 20px;
  border-color: #CD7F32;
  border-style: solid;
}

.call-to-action-header {
  font-size: 20px;
  font-weight: 700;
  color: #E5E7EB;
}

.call-to-action-statement {
  font-size: 18px;
  color: #E5E7EB;
}

.bottom-button {
  background-color: #CD7F32;
  color: #F9FAF8;
  font-size: 15px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin-top: 5px;
}

.bottom-button:hover {
  background-color: #252525;
}


/* -----FOOTER SECTION STYLES----- */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  height: 120px;
}

.footer-text {
  color: white;
  font-size: 18px;
  text-align: center;
}